#landingContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/city-skyline.jpg");
  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.96;
    z-index: 2;
  }

  .sign-in {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2rem;
    right: 3rem;
    z-index: 3;

    a {
      color: $text-light;
      text-decoration: none;
    }
  }

  .search-area {
    width: 40%;
    z-index: 3;
    position: absolute;
    max-width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    #logo {
      max-width: 400px;
      .st0 {
        font-family: "Impact";
        fill: $primary-color;
      }
      .st1 {
        font-size: 264px;
      }
      .st2 {
        font-size: 92px;
      }
      .st3 {
        font-size: 130px;
      }
    }

    .icons {
      display: flex;
      color: $text-light;
      z-index: 3;
      width: 100%;
      justify-content: space-between;
      margin-top: 2rem;

      @keyframes play60 {
        0% {
          background-position: 0px 0px;
        }
        100% {
          background-position: -2400px 0px;
        }
      }

      #anything-icon {
        background-image: url("../assets/worldAnimated.svg");
        animation-duration: 1000ms;
        animation-timing-function: steps(60);
        animation-fill-mode: forwards;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      #coffee-icon {
        background-image: url("../assets/coffeeAnimated.svg");
        animation-duration: 1000ms;
        animation-timing-function: steps(60);
        animation-fill-mode: forwards;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      #food-icon {
        background-image: url("../assets/foodAnimated.svg");
        animation-duration: 1000ms;
        animation-timing-function: steps(60);
        animation-fill-mode: forwards;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      #drinks-icon {
        background-image: url("../assets/drinksAnimated.svg");
        animation-duration: 1000ms;
        animation-timing-function: steps(60);
        animation-fill-mode: forwards;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      #people-icon {
        background-image: url("../assets/peopleAnimated.svg");
        animation-duration: 1000ms;
        animation-timing-function: steps(60);
        animation-fill-mode: forwards;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .play60 {
        animation-name: play60;
      }
    }

    .search-field {
      color: $text-light;
      width: 100%;
      margin-top: 1rem;

      .search-bar {
        width: 100%;
        display: flex;

        input {
          background-color: $mid-dark;
          border: none;
          width: 100%;
          padding: 0.5rem;
          color: $text-light;
        }

        .search-button {
          width: 40px;
          background: $primary-color;
          color: $mid-dark;
          text-align: center;
          font-weight: bold;
          cursor: pointer;

          .search-icon {
            background-image: url("../assets/searchSVG2.svg");
            height: 100%;
            width: 100%;
            z-index: 4;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
