* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#landingContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/city-skyline.jpg");
  background-size: cover; }
  #landingContainer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0b0c10;
    opacity: 0.96;
    z-index: 2; }
  #landingContainer .sign-in {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2rem;
    right: 3rem;
    z-index: 3; }
    #landingContainer .sign-in a {
      color: #e2dede;
      text-decoration: none; }
  #landingContainer .search-area {
    width: 40%;
    z-index: 3;
    position: absolute;
    max-width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
    #landingContainer .search-area #logo {
      max-width: 400px; }
      #landingContainer .search-area #logo .st0 {
        font-family: "Impact";
        fill: #66fcf1; }
      #landingContainer .search-area #logo .st1 {
        font-size: 264px; }
      #landingContainer .search-area #logo .st2 {
        font-size: 92px; }
      #landingContainer .search-area #logo .st3 {
        font-size: 130px; }
    #landingContainer .search-area .icons {
      display: flex;
      color: #e2dede;
      z-index: 3;
      width: 100%;
      justify-content: space-between;
      margin-top: 2rem; }
      #landingContainer .search-area .icons > div {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        cursor: pointer;
        padding-bottom: 1.6rem; }
      #landingContainer .search-area .icons #anything-icon,
      #landingContainer .search-area .icons #coffee-icon,
      #landingContainer .search-area .icons #food-icon,
      #landingContainer .search-area .icons #drinks-icon,
      #landingContainer .search-area .icons #people-icon {
        pointer-events: none; }
        #landingContainer .search-area .icons #anything-icon .st1,
        #landingContainer .search-area .icons #anything-icon .st0,
        #landingContainer .search-area .icons #anything-icon .st2,
        #landingContainer .search-area .icons #coffee-icon .st1,
        #landingContainer .search-area .icons #coffee-icon .st0,
        #landingContainer .search-area .icons #coffee-icon .st2,
        #landingContainer .search-area .icons #food-icon .st1,
        #landingContainer .search-area .icons #food-icon .st0,
        #landingContainer .search-area .icons #food-icon .st2,
        #landingContainer .search-area .icons #drinks-icon .st1,
        #landingContainer .search-area .icons #drinks-icon .st0,
        #landingContainer .search-area .icons #drinks-icon .st2,
        #landingContainer .search-area .icons #people-icon .st1,
        #landingContainer .search-area .icons #people-icon .st0,
        #landingContainer .search-area .icons #people-icon .st2 {
          stroke-width: 2;
          stroke: #66fcf1;
          fill: none; }
        #landingContainer .search-area .icons #anything-icon .active .st1,
        #landingContainer .search-area .icons #anything-icon .active .st0,
        #landingContainer .search-area .icons #anything-icon .active .st2,
        #landingContainer .search-area .icons #coffee-icon .active .st1,
        #landingContainer .search-area .icons #coffee-icon .active .st0,
        #landingContainer .search-area .icons #coffee-icon .active .st2,
        #landingContainer .search-area .icons #food-icon .active .st1,
        #landingContainer .search-area .icons #food-icon .active .st0,
        #landingContainer .search-area .icons #food-icon .active .st2,
        #landingContainer .search-area .icons #drinks-icon .active .st1,
        #landingContainer .search-area .icons #drinks-icon .active .st0,
        #landingContainer .search-area .icons #drinks-icon .active .st2,
        #landingContainer .search-area .icons #people-icon .active .st1,
        #landingContainer .search-area .icons #people-icon .active .st0,
        #landingContainer .search-area .icons #people-icon .active .st2 {
          stroke: #e2dede; }
    #landingContainer .search-area .search-field {
      color: #e2dede;
      width: 100%;
      margin-top: 2rem; }
      #landingContainer .search-area .search-field .search-bar {
        width: 100%;
        display: flex;
        margin-top: 1rem; }
        #landingContainer .search-area .search-field .search-bar input {
          background-color: #1f2833;
          border: none;
          width: 100%;
          padding: 0.5rem;
          color: #e2dede; }
        #landingContainer .search-area .search-field .search-bar .search-button {
          width: 40px;
          padding: 0;
          padding-top: 4px;
          background: #66fcf1;
          position: relative;
          color: #1f2833;
          text-align: center;
          font-weight: bold;
          cursor: pointer; }
          #landingContainer .search-area .search-field .search-bar .search-button .search-icon {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0; }

@media screen and (min-width: 601px) and (max-width: 1000px) {
  #landingContainer .search-area {
    width: 70%; }
    #landingContainer .search-area #logo {
      width: 300px; } }

@media screen and (max-width: 600px) {
  #landingContainer .search-area {
    width: 80%;
    top: 40%; }
    #landingContainer .search-area #logo {
      width: 250px; }
    #landingContainer .search-area .icons {
      margin-top: 4rem; }
    #landingContainer .search-area .search-field {
      margin-top: 4rem; } }
